.main_form {
  bottom: 0;
  height: 80vh;
  width: 100vw;
  position: fixed;
  overflow-y: scroll;
  /* margin: 0 auto; */
  /* left: 50%; */
  /* transform: translateX(-25%); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50vw;

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(255, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
}

/* Reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* Demo styles */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  padding: 0%;
  margin: 0%;
}

.submit input {
  height: 50px;
  width: 150px;
  border: none;
  font-size: 15px;
  background-color: #11998e;
  border-radius: 10px;
}

.submit {
  margin-top: 40px;
  margin-left: 40%;
  margin-bottom: 50px;
}

@media screen and (max-width: 720px) {
  .form__group {
    width: 80vw;
  }
  .submit input {
    height: 40px;
    width: 100px;
  }
  .submit {
    margin-top: 30px;
    margin-left: 60%;
  }
  .header div {
    font-size: 10px;
  }
  .header div img {
    height: 50px;
  }
  .header {
    height: 100px;
  }
}
