@import url("https://fonts.googleapis.com/css2?family=Inika&display=swap");

/* Default styles for desktop screens */
body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  background-color: #00000071;
  background-image: url("images/img1.jpg");
  background-size: cover;
  background-position: top;
  font-family: "Inika", serif;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  height: 100px;
  box-shadow: 0.1px 0px 5px 5px black;
  /* position: absolute; */
  /* z-index: 5px; */
}

.filter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.535);
}

.header div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  text-align: center;
}

.header div img {
  height: 80px;
}

/* Apply a flexbox layout to the form container */

.formContainer {
  background-color: rgba(255, 255, 255, 0.707);
  height: 520px;
  margin: 30px;
  padding-top: 60px;
  border-radius: 20px;
}

.inputForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputForm div input {
  width: 500px;
  height: 35px;
  border-color: rgba(240, 248, 255, 0);
  border-radius: 10px;
}

.inputForm div textarea {
  width: 500px;
  height: 50px;
  border-color: rgba(240, 248, 255, 0);
  border-radius: 10px;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
}

.submit input {
  font-size: 15px;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  border-color: rgba(127, 255, 212, 0);
  background-color: rgb(60, 138, 255);
}

/* Style each form field (adjust as needed) */

/* Add media queries for responsiveness */
@media screen and (max-width: 1280px) {
  .formContainer {
    height: 80vh;
    width: 90vw;
  }

  .inputForm {
    flex-direction: column;
  }

  .inputForm div input {
    border-radius: 10px;
  }

  .inputForm div textarea {
    border-radius: 10px;
  }
  .submit {
    padding-right: 15%;
  }
}
